.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 101vh;
}
.container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  background-color: white;
}
.container .header .title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container .header .title h1 {
  margin-top: 0;
}
.container .header .title p {
  margin: 0;
}
.container .header .title #fileInput {
  display: none;
}
.container .header .title form {
  margin-top: 36px;
}
.container .header .title label {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  transition: 300ms all ease;
}
.container .header .title label:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.container .header .line {
  height: 0;
  border: none;
  margin: 0;
  transition: all 750ms ease;
}
.container .header .line.open {
  border: 1px solid black;
  height: 300px;
  margin: 0 30px;
}
.container .header .results-pane {
  width: 0;
  overflow: hidden;
  transition: all 1s ease;
}
.container .header .results-pane.open {
  width: 350px;
}
.container .header .results-pane .results-text {
  width: 350px;
}
.container .font-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 0;
  transition: all 1s ease;
}
.container .font-info.show {
  background-color: black;
}
.container .font-info h1, .container .font-info p {
  color: white;
}
.container .compare-container {
  padding: 125px 0;
  display: none;
  flex-direction: column;
  align-items: center;
}
.container .compare-container.show {
  display: flex;
}
.container .compare-container canvas {
  border: 2px solid black;
}
.container .compare-container .compare-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .compare-container .compare-controls input {
  -webkit-appearance: none;
  height: 25px;
  border: 2px solid black;
  margin: 13px 0 0;
  font-family: "Roboto Mono", monospace;
}
.container .compare-container .compare-learn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.container .compare-container .compare-learn-container .learn-tile {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .compare-container .compare-learn-container .learn-tile img {
  width: 75%;
  border: 2px solid black;
}
.container .compare-container .compare-learn-container .learn-tile p {
  width: 75%;
}
.container .glyph-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}
.container .glyph-container .glyph-nav {
  background-color: black;
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
}
.container .glyph-container .glyph-nav :first-child {
  margin-left: 91px;
}
.container .glyph-container .glyph-nav :last-child {
  margin-right: 91px;
}
.container .glyph-container .glyph-nav p {
  color: white;
  margin-right: 20px;
}
.container .glyph-container .glyph-nav input {
  -webkit-appearance: none;
  height: 25px;
  border: 2px solid white;
  color: white;
  background-color: black;
  margin: 0 10px;
  font-family: "Roboto Mono", monospace;
}
.container .glyph-container .tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 384px;
}
.container .glyph-container .tile-container .tile {
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin: 40px;
  opacity: 0;
  transition: 300ms all ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .glyph-container .tile-container .tile.show {
  opacity: 1;
}
.container .glyph-container .tile-container .tile h3 {
  margin: 0;
}
.container .glyph-container .load-tiles {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  transition: 300ms all ease;
  width: 154px;
}
.container .glyph-container .load-tiles:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.container .footer {
  height: 200px;
  background-color: black;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.container .footer a, .container .footer p {
  color: white;
}
.container .footer a:hover {
  color: gray;
}

.result {
  display: none;
}

body {
  font-family: "Roboto Mono", monospace;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
