<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>monospace?</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container" id="app">
    <div class="header">
      <div class="title">
        <h1>is it monospace?</h1>
        <p>Find out if your font is monospace here</p>
        <form>
          <input 
            type="file" 
            id="fileInput"
            @change="onFileChange"
          >
          <label for="fileInput">Choose a font <i class="fas fa-file-upload"></i></label>
        </form>
      </div>
      <div 
        class="line"
        :class="{ 'open': firstLoad}"
      ></div>
      <div 
        class="results-pane"
        :class="{ 'open': showResults}"
      >
        <div class="results-text">
          <p>{{ isMonoSpace ? "Yes, your font is monospace" : "No, your font is not monospace" }}</p>
          <!-- <p>{{ results.modePercent }}</p> -->
        </div>
      </div>
    </div>
    <div 
      class="font-info"
      :class="{ 'show': firstLoad }"
    >
      <transition name="fade">
        <h1 v-if="showResults">font info</h1>
      </transition>
      <transition name="fade">
        <div 
          class="info-container"
          v-if="showResults"
        >
          <p>file name: {{ fileName }}</p>
          <p>font name: {{ font.names.fullName.en }}</p>
          <p>format: {{ font.outlinesFormat }}</p>
          <p>number of glyphs: {{ font.numGlyphs }}</p>
          <p>mode average advanceWidth: {{ modes[0].number }}</p>
          <p>mode percentage: {{ modePercent }}%</p>
        </div>
      </transition>
    </div>
    <div 
      class="glyph-container"
    >
      <div class="tile-container">
        <div 
          class="tile"
          v-for="(glyph, key) in glyphArray"
          :key="key"
          v-if="key < tileCount"
        >
          <p>{{ glyph.name }}</p>
          <canvas
            width="200"
            height="200"
            :id="key + '-canvas'"
          ></canvas>
        </div>
      </div>
      <div 
        class="load-tiles"
        @click="tileCount += 20"
        v-if="showResults"
      >
        Load more glyphs
      </div>
    </div>
    <div class="footer">

    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/opentype.js@latest/dist/opentype.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://kit.fontawesome.com/d59cf32569.js" crossorigin="anonymous"></script>
  <script src="js/tester.js"></script>
</body>
</html>